
:root {
    --bg-color: #0F0F0F;
    --main-text-color: #fff;
    --secondary-text-color: #9B9CA1;
    --demo-button-bg: #4D58FF;
    --talk-button-bg: #404040;
    --button-border: none;
    --header-bg: rgba(15, 15, 15, 0.05);
    --icon-filter: invert(0);
    --hero-button-bg: #161616;
    --hero-img-bg: linear-gradient(0deg, #0F0F0F 0%, rgba(8, 8, 8, 0.52) 27.01%, rgba(0, 0, 0, 0.00) 100%);
    --hero-img-box-shadow: none;
    --cards-bg:#161616;
    --cards-border: .0625rem solid #292929;
    --cards-title: #F6F6F7;
    --card-text: #9B9CA1;
    --nav-bg: rgba(255, 255, 255, 0.05);
    --nav-border: .0625rem solid #FFF;
    --nav-hover-bg: #fff;
    --nav-color-text: #1D1C20;
    --logos-gradient: linear-gradient(90deg, #0F0F0F 2.16%, rgba(15, 15, 15, 0.00) 12.18%, rgba(15, 15, 15, 0.00) 91.5%, #0F0F0F 100%);
    --hover-color: #4D58FF;
    --footer-nav: #FBFBFB;
    --footer-bg: transparent;
    --footer-text: #9B9CA1;
    --footer-border-color: #161616;
    --accordion-title: #D7D7D7;
    --arrow-card: url(../img/icons/arrow-right-white.svg) 0 0 / 100% no-repeat;
    --btn-bg: #222629;
    --btn-stroke: #fff;
    --btn-hover-stroke: #000;
    --testim-comma: url("../img/inverted-comma.png") 0 0 / 100% no-repeat;
    --pricing-checkmark: url(../img/icons/checkmark.svg) 0 0 / 100% no-repeat;
    --pricing-border-bottom: #242424;
    --button-gradient: #fff;
    --button-hover-effect: radial-gradient(var(--button-gradient), transparent, transparent);
}

[data-theme="light"] {
    --bg-color: #F6F6F6;
    --main-text-color: #0F0F0F;
    --secondary-text-color: #333;
    --demo-button-bg: #1D1C20;
    --talk-button-bg: #fff;
    --button-border: .0625rem solid #1D1C20;
    --header-bg: rgba(246, 246, 246, 0.05);
    --icon-filter: invert(1);
    --hero-button-bg: transparent;
    --hero-img-bg: none;
    --hero-img-box-shadow: .0996rem .4981rem 4.0342rem -0.3984rem rgba(0, 0, 0, 0.14);
    --cards-bg:#fff;
    --cards-border: .0625rem solid #BDBDBD;
    --cards-title: #1D1C20;
    --card-text:#828282;
    --nav-bg: rgba(29, 28, 32, 0.05);
    --nav-border: .0625rem solid #1D1C20;
    --nav-hover-bg: #1D1C20;
    --nav-color-text: #fff;
    --logos-gradient: linear-gradient(90deg, #F6F6F6 5.67%, rgba(246, 246, 246, 0.00) 10.47%, rgba(246, 246, 246, 0.00) 85.36%, #F6F6F6 94.57%);
    --footer-nav: #4F4F4F;
    --footer-bg: #E0E0E0;
    --footer-text: #4F4F4F;
    --footer-border-color: #BDBDBD;
    --accordion-title: #1D1C20;
    --arrow-card: url(../img/icons/arrow-right-dark.svg) 0 0 / 100% no-repeat;
    --btn-bg: #FFF;
    --btn-stroke: #000;
    --btn-hover-stroke: #fff;
    --testim-comma: url("../img/inverted-comma-light.png") 0 0 / 100% no-repeat;
    --pricing-checkmark: url(../img/icons/checkmark-light.svg) 0 0 / 100% no-repeat;
    --pricing-border-bottom: #BDBDBD;
    --button-gradient: #4D58FF;
    --button-hover-effect: none;
    --light-hover-color-demo-btn: #4D58FF;
}

