@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Ubuntu:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");

@import "_mixins.scss";

@import "_fonts.scss";

@import "_reset.scss";


:root {
    --bg-color: #0F0F0F;
    --main-text-color: #fff;
    --secondary-text-color: #9B9CA1;
    --demo-button-bg: #4D58FF;
    --talk-button-bg: #404040;
    --button-border: none;
    --header-bg: rgba(15, 15, 15, 0.05);
    --icon-filter: invert(0);
    --hero-button-bg: #161616;
    --hero-img-bg: linear-gradient(0deg, #0F0F0F 0%, rgba(8, 8, 8, 0.52) 27.01%, rgba(0, 0, 0, 0.00) 100%);
    --hero-img-box-shadow: none;
    --cards-bg:#161616;
    --cards-border: 1px solid #292929;
    --cards-title: #F6F6F7;
    --card-text: #9B9CA1;
    --nav-bg: rgba(255, 255, 255, 0.05);
    --nav-border: .0625rem solid #FFF;
    --nav-hover-bg: #fff;
    --nav-color-text: #1D1C20;
    --logos-gradient: linear-gradient(90deg, #0F0F0F 2.16%, rgba(15, 15, 15, 0.00) 12.18%, rgba(15, 15, 15, 0.00) 91.5%, #0F0F0F 100%);
    --hover-color: #4D58FF;
    --footer-nav: #FBFBFB;
    --footer-bg: transparent;
    --footer-text: #9B9CA1;
    --footer-border-color: #161616;
    --accordion-title: #D7D7D7;
    --arrow-card: url(../img/icons/arrow-right-white.svg) 0 0 / 100% no-repeat;
    --btn-bg: #222629;
    --btn-stroke: #fff;
    --btn-hover-stroke: #000;
    --testim-comma: url("../img/inverted-comma.png") 0 0 / 100% no-repeat;
    --pricing-checkmark: url(../img/icons/checkmark.svg) 0 0 / 100% no-repeat;
    --pricing-border-bottom: #242424;
    --button-gradient: #fff;
    --button-hover-effect: radial-gradient(var(--button-gradient), transparent, transparent);
}

[data-theme="light"] {
    --bg-color: #F6F6F6;
    --main-text-color: #0F0F0F;
    --secondary-text-color: #333;
    --demo-button-bg: #1D1C20;
    --talk-button-bg: #fff;
    --button-border: .0625rem solid #1D1C20;
    --header-bg: rgba(246, 246, 246, 0.05);
    --icon-filter: invert(1);
    --hero-button-bg: transparent;
    --hero-img-bg: none;
    --hero-img-box-shadow: .0996rem .4981rem 4.0342rem -0.3984rem rgba(0, 0, 0, 0.14);
    --cards-bg:#fff;
    --cards-border: 1px solid #BDBDBD;
    --cards-title: #1D1C20;
    --card-text:#828282;
    --nav-bg: rgba(29, 28, 32, 0.05);
    --nav-border: .0625rem solid #1D1C20;
    --nav-hover-bg: #1D1C20;
    --nav-color-text: #fff;
    --logos-gradient: linear-gradient(90deg, #F6F6F6 5.67%, rgba(246, 246, 246, 0.00) 10.47%, rgba(246, 246, 246, 0.00) 85.36%, #F6F6F6 94.57%);
    --footer-nav: #4F4F4F;
    --footer-bg: #E0E0E0;
    --footer-text: #4F4F4F;
    --footer-border-color: #BDBDBD;
    --accordion-title: #1D1C20;
    --arrow-card: url(../img/icons/arrow-right-dark.svg) 0 0 / 100% no-repeat;
    --btn-bg: #FFF;
    --btn-stroke: #000;
    --btn-hover-stroke: #fff;
    --testim-comma: url("../img/inverted-comma-light.png") 0 0 / 100% no-repeat;
    --pricing-checkmark: url(../img/icons/checkmark-light.svg) 0 0 / 100% no-repeat;
    --pricing-border-bottom: #BDBDBD;
    --button-gradient: #4D58FF;
    --button-hover-effect: none;
    --light-hover-color-demo-btn: #4D58FF;
}


body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

[class*="__container"] {
    max-width: 1254px;
    margin: 0 auto;
    padding-inline: 15px;
}

// .header.scrolled {
//     background-color: var(--header-bg);
// }
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-block: 32px;
    max-height: 115px;
    border-bottom: .0625rem rgba(217, 217, 217, 0.16) solid;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--header-bg);
        backdrop-filter: blur(50px);
        z-index: -1; 
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
} 

.logo {
    position: relative;
    max-width: 121px;
    z-index: 10;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 1.125rem;
    line-height: 1.5; 
    letter-spacing: -0.36px;

    @media (max-width: 1044px) {
        gap: 35px;
    }

    &__item {
        position: relative;
        display: inline-block;
        transition: color 0.3s ease;
    }
}

.sub-menu {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
    inline-size: 150px;
    padding: 55px 15px 15px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--header-bg);
    backdrop-filter: blur(50px);
    z-index: -2;

    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;

    &__item:not(:last-child) {
        margin-block-end: 10px;
    }
    &__link{
        transition: color 0.3s ease;
    }
}
.menu__link--icon {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
            // color: var(--accordion-title);
            width: .5625rem;
            height: .5625rem;
            display: inline-block;
            border: solid currentColor;
            border-width: 0 .125rem .125rem 0;
            transform: rotate(45deg);
            transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
    }
}


.header__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.32px;
    flex: 0 1 110px;
    z-index: 10;
}

.demo-button {
    border-radius: 60px;
    background-color: var(--demo-button-bg);
    padding: 13px 24px;
    color: #fff;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: var(--demo-button-bg);
        border-radius: 48px;
    }
    &--color {
        background-color: #4D58FF;

        &::after {
            background-color: #4D58FF;
        }
    }
}
.talk-button {
    position: relative;
    border-radius: 60px;
    background-color: var(--talk-button-bg);
    padding: 13px 24px;
    border: var(--button-border);
    overflow: hidden;
    transition: 0.5s;

    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: var(--talk-button-bg);
        border-radius: 48px;
    }
}

.talk-button, .demo-button{
    flex: 1;
    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        background: var(--button-hover-effect);
        transition: 0.5s, top 0s, left 0s;
        opacity: 0;
    }
    a {
        position: relative;
        z-index: 1;
    }
}
.hero{
    position: relative;
    z-index: 3;
    &::before{
        content: "";
        position: absolute;
        background: url("../img/main-bg-img.png") 0 0 / 100% no-repeat;

        @include adaptiveValue("width", 1050.76, 426);
        @include adaptiveValue("height", 1053.181, 426.981);

        top: -28%;
        left: -17%;
        z-index: 2;

        @media (max-width: 400px) {
            left: -44%;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-block-start", 120, 34);
        @include adaptiveValue("padding-block-end", 200, 100);


        > .block-buttons{
            @media (max-width: 400px) {
                flex-direction: column;
                gap: 16px
            }
        }
    }
    &__button {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        font-family: "DM Sans", sans-serif;
        border-radius: 32px;
        border: .0625rem solid #1412C5;
        background-color: var(--hero-button-bg);
        padding: 4px 8px 4px 4px;
        margin-block-end: 12px;
    
        color: #4D58FF;
        @include adaptiveValue("font-size", 14, 12);
        font-weight: 500;
        line-height: 1.2; /* 120% */

        &::after {
            content: "";
            inline-size: 16px;
            block-size: 16px;
            background: url("../img/icons/arrow-right.svg") 0 0 / 100% no-repeat;
        }

        span{
            color: #FFF;
            border-radius: 4rem;
            background-color: #4D58FF;
            padding: 4px 8px;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-block-end: 40px;

        @media (max-width: 744px) {
            gap: 24px;
            margin-block-end: 32px;
        }

        h1{
            text-align: center;
            font-weight: 600;
            line-height: 1.2; /* 5.4rem */
            letter-spacing: -2.16px;
            max-width: 996px;
            @include adaptiveValue("font-size", 72, 32);


            @media (max-width: 744px) {
                letter-spacing: -0.135rem;
            }
        }
        
        p{
            color: var(--secondary-text-color);
            text-align: center;
            @include adaptiveValue("font-size", 20, 14);
            line-height: 1.5; /* 1.6875rem */
            letter-spacing: -0.36px;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &__img  {
        aspect-ratio: 1224 / 596;
        object-fit: cover;
        position: relative;

        img {
            width: 100%;
            box-shadow: var(--hero-img-box-shadow) ;
            border-radius: 15.9376px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            aspect-ratio: 1224 / 596;
            background: var(--hero-img-bg);
        }
    }
}

.block-buttons {
    display: flex;
    gap: 24px;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 25.25rem; 
    @include adaptiveValue("margin-block-end", 100, 60);
    z-index: 3;
    flex-wrap: nowrap;
    flex: 1; 


    &--width {
        flex: 0 1 272px;
        margin-bottom: 0;
        flex-wrap: wrap;


        > .demo-button, .talk-button {
            flex: 1 1 11.875rem; 
        }
    }
}

.demo-button, .talk-button {
    min-height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7.8125rem; 
    max-width: 100%; 
    text-align: center; 
    cursor: pointer;

    transition: all 0.5s;

    @media (max-width: 400px) {
        width: 100%;
    }
}
[data-theme="light"] .talk-button::after,
[data-theme="light"] .demo-button::after,
[data-theme="light"] .blog__button::after,
[data-theme="light"] .start-button::after{
    background-color: transparent;
}

.benefits, .product, .buttons-section, .partners, .testimonials, .blog, .answers {
    @include adaptiveValue("margin-block-end", 200, 100);
}
.benefits__title {
    @include adaptiveValue("margin-block-end", 60, 40);
}
.category {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 2rem;
    border: .0625rem solid #1412C5;
    background: var(--hero-button-bg);
    padding: 8px 12px;
    color: #4D58FF;
    font-family: "DM Sans", sans-serif;
    @include adaptiveValue("font-size", 14, 12);
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-block-end: 12px;
    @include adaptiveValue("margin-block-end", 12, 8);

    &::before {
        content: "";
        flex-shrink: 0;
        inline-size: 16px;
        block-size: 16px;
        background: url("../img/icons/info-circle.svg") 0 0 / 100% no-repeat;
    }

    &--img::before {
        content: "";
        flex-shrink: 0;
        inline-size: 16px;
        block-size: 16px;
        background: url("../img/icons/blog-icon.svg") 0 0 / 100% no-repeat;
    }
}

.title-block {
    display: flex;
    column-gap: max(20px, min(10vw, 128px));


    @media (max-width: 745px) {
        flex-direction: column;
        gap: 24px;
    }

    h2 {
        flex: 1 1 49.019608%; /* 600/1224 */
        font-weight: 600;
        line-height: 1.2; /* 2.85rem */
        letter-spacing: -1.1392px;
        @include adaptiveValue("font-size", 38, 32);

        @media (max-width: 745px) {
            letter-spacing: -0.96px;
        }
    }

    p {
        flex: 1 1 40.522876%; /* 496/1224 */
        color: var(--secondary-text-color);
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.5; /* 1.875rem */
        letter-spacing: -0.4px;
    }

    &--column {
        flex-direction: column;
        width: 100%;
        @media (max-width: 984px) {
            gap: 24px;
        }
    }

    &--center {
        text-align: center;
        flex-direction: column;
        @include adaptiveValue("margin-block-end", 60, 40);
    }
} 

.cards-benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media (max-width: 745px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    @media (max-width: 533px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    &__item {
        border-radius: 12px;
        border: var(--cards-border);
        background-color: var(--cards-bg);
        padding: 30px;
        position: relative;
        transition: transform 0.3s ease-out;
        overflow: hidden;
    }
    &__icon {
        margin-block-end: 30px;

        img{
            inline-size: 80px;
            block-size: 80px;
            object-fit: contain;

            @media (max-width: 745px) {
                inline-size: 60px;
                block-size: 60px;
            }
        }
    }

    &__text {
        h3{
            color: var(--cards-title);
            font-weight: 600;
            line-height: 1.5; /* 1.875rem */
            letter-spacing: -0.4px;
            margin-block-end: 12px;
            @include adaptiveValue("font-size", 20, 16);
        }

        p{
            color: var(--card-text);
            line-height: 1.5; /* 1.5rem */
            letter-spacing: -0.32px;
            @include adaptiveValue("font-size", 16, 14);
        }
    }
}


.product__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.content__block {
	display: none;

    &.active {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}
.nav-product {
    display: flex;
    justify-content: center;

    &__list {
        padding: 6px;
        display: inline-flex;
        gap: 5px;
        border-radius: 3rem;
        border: var(--nav-border);
        background: var(--nav-bg);
        backdrop-filter: blur(2.0406rem);
    }

    &__item {
        @include adaptiveValue("font-size", 16, 14);
        padding: 12px 22px;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;

        @media (max-width: 500px) {
            padding: 10px 18px;
        }
    }
}

.nav-product__item.active, .nav-product__item:hover {
    border-radius: 2.5rem;
    background: var(--nav-hover-bg);
    color: var(--nav-color-text);
}
.cards-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media (max-width: 745px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 533px) {
        grid-template-columns: repeat(1, 1fr);
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;

        @media (max-width: 533px) {
            max-width: 342px;
            margin: 0 auto;
        }
        
    }

    &__img {
        aspect-ratio: 392 / 384;
        overflow: hidden;
        border-radius: 16px;
        position: relative;
        transition: transform 0.3s ease-out;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        h3 {
            font-weight: 600;
            line-height: 1.5; /* 2.25rem */
            letter-spacing: -0.72px;
            margin-block-end: 12px;
            @include adaptiveValue("font-size", 24, 18);
        }

        p {
            color: var(--card-text);
            line-height: 1.5; /* 1.5rem */
            letter-spacing: -0.32px;
            @include adaptiveValue("font-size", 16, 14);
        }
    }
}
.integration {
    &__block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        column-gap: 24px;

        @media (max-width: 958px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr; 

        }

        & > *:nth-child(1),
        & > *:nth-child(3) {
            padding: 44px 22px;
            text-align: center;

            p{
                font-size: 14px;
                letter-spacing: -0.28px;
                margin-block-end: 26px;
            }
        }
        & > *:nth-child(2){
            padding: 26px 30px 0px 30px;
            grid-column: 2 / span 2;
            text-align: center;
            justify-content: space-between;
            gap: 5px;

            p{
                letter-spacing: -0.32px;
                max-width: 390px;
                margin: 0 auto;
            }
        }
        & > *:nth-child(4){
            padding: 30px 30px 0 30px;
            grid-column: 1 / span 2;

            p{
                letter-spacing: -0.32px;
                margin-block-end: 32px;
            }
        }
        & > *:nth-child(5){
            padding: 2.4375rem 2.625rem 2rem 2.625rem;
            grid-column: 3 / span 2;

            p{
                font-size: 18px;
                letter-spacing: -0.36px;
                margin-bottom: 34px;
                max-width: 474px;
            }
        }

        @media (max-width: 850px) {
            & > *:nth-child(2),
            & > *:nth-child(4),
            & > *:nth-child(5) {
                grid-column: 1 / span 2;
            }
        }

        // Адаптив для маленьких екранів (768px)
        @media (max-width: 768px) {

            & > * {
                grid-column: 1 / -1;
                text-align: center;
            }
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 24.5232px;
        border: var(--cards-border);
        background-color: var(--cards-bg);

        h3{
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2; /* 2.4rem */
            letter-spacing: -0.96px;
            margin-bottom: 44px;
            max-width: 338px;
        }
        h4{
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5; /* 2.25rem */
            letter-spacing: -0.72px;
            margin-bottom: 24px;
        }
        h5 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5; /* 1.875rem */
            letter-spacing: -0.4px;
            max-width: 200px;
            margin: 0 auto;
        }
        p{
            color: #9B9CA1;
            line-height: 1.5; /* 1.3125rem */
        }

        & > .demo-button {
            display: flex;
            align-items: center;
            align-self: flex-start;
        }
    }
    &__title {
        font-weight: 600;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;
        margin-bottom: 8px;
    }
    &__img {
        display: flex;
        align-items: flex-end;
        gap: 1.875rem;
    }
}
#integration-img01 {
    aspect-ratio: 244 / 216;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#integration-img02 {
    aspect-ratio: 540 / 225;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#integration-img03 {
    aspect-ratio: 216 / 216;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#integration-img04 {
    aspect-ratio: 532 / 163;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pricing {
    &__block {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card {
        border-radius: 24px;
        background-color: var(--cards-bg);
        padding: 4.5rem 2.5rem 2.5rem;
        border: var(--cards-border);
        max-width: 24.5rem;
        flex: 1 1 calc(33.333% - 24px);

        @media (max-width: 1024px) {
            flex: 1 1 calc(50% - 24px); 
        }

        @media (max-width: 650px) {
            flex: 1 1 100%; 
        }
    }
    > .title-block--center h2 {
        margin-block-end: 1rem;
    }
    > .title-block--center p {
        max-width: 50.4375rem;
        margin: 0 auto;
    }
}

.card-pricing {
    position: relative;
    display: flex;
    flex-direction: column;
    &--color{
        h3{
            color: #4D58FF;
        }
    }
    h3 {
        text-align: center;
        @include adaptiveValue("font-size", 32, 28);
        font-weight: 600;
        line-height: 1.2; /* 2.4rem */
        letter-spacing: -0.96px;
        margin-block-end: 24px;
    }
    p {
        color: #9B9CA1;
        text-align: center;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;
        @include adaptiveValue("font-size", 16, 14);
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-block-end: 4.625rem;
    }
    &__item {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        
        color: var(--card-text);
        font-family: "DM Sans";
        line-height: 1.2; /* 120% */

        &::before {
            content: "";
            flex-shrink: 0;
            inline-size: 1rem;
            block-size: 1rem;
            background: var(--pricing-checkmark)
        }
    }
    &__block{
        color: var(--accordion-title);
        text-align: center;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.02rem;
        padding-block: 4.3125rem;
        border-bottom: .0625rem solid var(--pricing-border-bottom);
        margin-block-end: 3rem;
        span {
            color: var(--main-text-color);
            text-align: center;
            @include adaptiveValue("font-size", 40, 32);
            font-weight: 500;
            line-height: 1.5; /* 60px */
            letter-spacing: -0.075rem;
        }
    }
    &__text {
        @include adaptiveValue("font-size", 16, 14);
        flex-grow: 1;
    }
}
.mark {
    position: absolute;
    top: 4%;
    right: 5%;
    border-radius: 2rem;
    border: .0625rem solid #236456;
    padding: .5rem .75rem;

    color: #33C6AB;
    font-family: "DM Sans";
    @include adaptiveValue("font-size", 14, 12);
    font-weight: 500;
    line-height: 1.2; /* 120% */

    display: inline-flex;
    align-items: center;
    gap: .3125rem;

    &::before {
        content: "";
        flex-shrink: 0;
        inline-size: 15px;
        block-size: .9375rem;
        background: url(../img/icons/mark-star.svg) 0 0 / 100% no-repeat;
    }
}
.start-button {
    color: #fff;
    cursor: pointer;
    border-radius: 1.875rem;
    background-color:  #4D58FF;
    padding: .8125rem 1.5rem;
    position: relative;
    overflow: hidden;

    text-align: center;;
    font-weight: 600;
    line-height: 1.5; /* 24px */
    letter-spacing: -0.02rem;

    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: #4D58FF;
        border-radius: 48px;
    }

    &::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        background: var(--button-hover-effect);
        transition: 0.5s, top 0s, left 0s;
        opacity: 0;
    }
    a {
        position: relative;
        z-index: 1;
    }

    &--color {
        background-color: #1D1C20;

        &::after {
            content: "";
            position: absolute;
            inset: 2px;
            background-color: #404040;
            border-radius: 48px;
        }
    }
}
.buttons-section{
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        border-radius: 24px;
        background: var(--cards-bg);
        @include adaptiveValue("padding-block", 100, 60);
        @include adaptiveValue("padding-inline", 120, 40);
        align-items: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            background: url("../img/second-bg-img.png") 0 0 / 100% no-repeat;
        
            width: 551.0928px;
            height: 767.6432px;
            transform: rotate(-29.715deg);
        
            top: -54%;
            left: 0%;
        }

        h2{
            @include adaptiveValue("font-size", 38, 32);
            font-weight: 600;
            line-height: 1.2; /* 2.85rem */
            letter-spacing: -1.1392px;
            max-width: 584px;
            // flex: 1 1 59.349593%; /* 584/984 */

            @media (max-width: 359.98px) {
                text-align: center;
                font-size: 1.75rem;
            }
        }

        @media (max-width: 761px) {
            text-align: center;
            justify-content: center;
            > .block-buttons {
                gap: 16px;
            }
            
        }

        
    }
}

.circle {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    background: rgba(255, 255, 255, 0.125); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.05s linear;
    filter: blur(3.75rem); 
}
.partners{
    
    &__block {
        display: flex;
        column-gap: max(20px, min(10vw, 128px));
        @include adaptiveValue("margin-block-end", 128, 40);
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > .title-block h2 {
            max-width: 603px
        }
    }
    &__title {
        flex: 1 1 184px;
    }

    &__text {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: .9375rem;

        @media (max-width: 984px) {
            flex-direction: column;
        }
        @media (max-width: 421px) {
            gap: 40px
        }
    
        > p {
            max-width: 496px;

            @media (max-width: 984px) {
                align-self: flex-start;
            }
            
        }
    }
}

.cards-partners {
    display: flex;
    align-items: flex-end;
    flex: 0 1 600px;
    gap: 24px;

    @media (max-width: 984px) {
        flex: none;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width: 421px) {
        justify-content: flex-start;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 184px;

        @media (max-width: 421px) {
            align-items: flex-start;
            flex-basis: 342px
        }

        span {
            font-size: 72px;
            font-weight: 700;
            line-height: 1.5; /* 6.75rem */
            letter-spacing: -2.16px;
        }

        p {
            color: #9B9CA1;
            text-align: center;
            font-family: Poppins;
            line-height: 1.5; /* 150% */
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.logos {
    max-width: 1380px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 2;
        left: 0;
        background: var(--logos-gradient);
    }
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;

    img {
        width: 11.25rem;
        margin: 0 1.875rem;
    }
}


.testimonials {
    &__cards {
        margin-block-end: 60px;
    }
    &__title {
        text-align: center;
        margin-block-end: 160px;
    }
    &__buttons {
        display: flex;
        gap: 14px;
        justify-content: center;
    }
}
.cards-testimonials {
    display: flex;
    gap: 24px;
    transition: transform 0.5s ease-in-out;
    width: 100%;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        border-radius: 20px;
        background: var(--cards-bg);
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 392px;
        padding: 84px 32px;
        align-items: center;

        blockquote{
            text-align: center;
            color: var(--cards-title);
            @include adaptiveValue("font-size", 16, 14);
            line-height: 1.5; /* 1.5rem */
            letter-spacing: -0.32px;
        }
    }
    &__author {
        color: var(--card-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        line-height: 1.5; /* 1.875rem */

        h5 {
            color: var(--main-text-color);
            font-size: 20px;
            font-weight: 600;
            
            letter-spacing: -0.4px;
        }

        p {
            font-size: 14px;
            letter-spacing: -0.28px;
        }

        // img{
        //     inline-size: 85px;
        //     block-size: 15px;
        // }
    }

    &__img {
        width: 7.5rem;
        aspect-ratio: 1 / 1; 
        overflow: hidden;
        margin-top: -140px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.prev-btn, .next-btn {
    border-radius: 6.25rem;
    background-color: var(--btn-bg);
    padding: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    stroke: var(--btn-stroke)
}
.prev-btn svg path,  .next-btn svg path {
    transition: stroke 0.3s ease;
}
.blog{
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-block-end: 60px;

        @media (max-width: 650px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__button {
        border-radius: 60px;
        border: var(--button-border);
        background-color: var(--talk-button-bg);
        padding: 13px 24px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    
        font-weight: 600;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;
        transition: all 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            inset: 2px;
            background-color: var(--talk-button-bg);
            border-radius: 48px;
        }
    
        &::before {
            content: "";
            position: absolute;
            top: var(--y);
            left: var(--x);
            transform: translate(-50%, -50%);
            width: 200px;
            height: 200px;
            background: var(--button-hover-effect);
            transition: 0.5s, top 0s, left 0s;
            opacity: 0;
        }
        a {
            position: relative;
            z-index: 1;
        }
    }
}
@mixin common-paragraph-styles {
    color: var(--card-text);
    font-size: 14px;
    line-height: 1.5; /* 1.3125rem */
    letter-spacing: -0.28px;
}
.cards-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;

    @media (max-width: 983px) {
        grid-template-columns: repeat(2, 1fr);

        &.odd .cards-blog__item:last-child {
            grid-column: span 2;
            justify-self: center;
        }
    }
    @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);

        &.odd .cards-blog__item:last-child {
            grid-column: auto;
            justify-self: auto; 
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: var(--cards-border);
        background: var(--cards-bg);
        padding: 25px;
        max-width: 392px;
    }

    &__img {
        aspect-ratio: 342 / 230;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        transition: transform 0.3s ease-out;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        padding-block: 19px;
        border-bottom: 1px solid rgba(217, 217, 217, 0.15);
        flex-grow: 1;

        h3 {
            @include adaptiveValue("font-size", 24, 18);
            font-weight: 600;
            line-height: 1.5; /* 2.25rem */
            letter-spacing: -0.72px;
            margin-block-end: 15px;
        }

        p {
            @include common-paragraph-styles;
        }
    }

    &__block {
        padding-top: 19px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;

        p {
            @include common-paragraph-styles;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;
        transition: color 0.3s;

        &::after {
            content: "";
            flex-shrink: 0;
            inline-size: 24px;
            block-size: 24px;
            background: var(--arrow-card);
        }

        @media (any-hover: hover) {
            &:hover {
                color: #4D58FF;
            }
            &:hover::after {
                filter: brightness(0) saturate(100%) invert(18%) sepia(97%) saturate(2000%) hue-rotate(220deg) brightness(105%);
            }
        }
    }
}
.footer {
    background-color: var(--footer-bg);
    border-top: .0625rem solid rgba(217, 217, 217, 0.15);
    padding-block: 80px 40px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-block-end: 60px;
        border-bottom: .0625rem solid var(--footer-border-color);
    }
    &__item,  &__sub {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-basis: 187px;

        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.5; /* 1.875rem */
            letter-spacing: -0.025rem;
        }

        a {
            color:  var(--footer-nav);
            line-height: 1.5; /* 1.5rem */
            letter-spacing: -0.32px;
        }
    }

    &__link {
        transition: color 0.3s ease;
    }
}
.logo--footer {
    flex-basis: 287px;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto;

    &__item {
        border-radius: 16px;
        border:  var(--cards-border);
        padding: 24px;
    }
    &__header {
        display: inline-flex;
        gap: .625rem;
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    
        color:  var(--accordion-title);
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 600;
        line-height: 1.5; /* 1.875rem */
        letter-spacing: -0.4px;

        &::after {
            content: "";
            width: .5625rem;
            height: .5625rem;
            display: inline-block;
            border: solid currentColor;
            border-width: 0 .125rem .125rem 0;
            transform: rotate(45deg);
            transition: transform 0.4s ease-in-out;
        }

        &.active::after {
            transform: rotate(-135deg); 
        }
    }

    &__content {
        color: var(--card-text);
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin-top 0.4s ease-in-out;
        margin-top: 0; 
        line-height: 1.5;
        @include adaptiveValue("font-size", 16, 14);

        &.active {
            max-height: 500px; 
            opacity: 1;
            margin-top: 10px; 
        }
    }
}
.footer__icons {
    padding-block-start: 32px;
    max-width: 286px;
    margin: 0 auto;
}
.icons-footer {

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding-block-end: 16px;

        @media (max-width: 800px) {
            justify-content: space-evenly;
        }
    }
    &__item {
        inline-size: 24px;
        block-size: 24px;
        object-fit: contain;
        a svg path {
            transition: fill 0.3s ease; 
        }
    }
    &__text {
        color: var(--footer-text);
        text-align: center;
        line-height: 1.5; /* 1.5rem */
        letter-spacing: -0.32px;
        @include adaptiveValue("font-size", 16, 12);
    }
}

@media (any-hover:hover) {
    .menu__item:hover .menu__link, 
    .menu__link--icon:hover, 
    .footer__link:hover, 
    .sub-menu__link:hover  {
        color: var(--hover-color);
    }
    
    [data-theme="light"] .talk-button:hover, 
    .blog__button:hover, 
    [data-theme="light"] .start-button:hover {
        background-color: #1D1C20;
        color: #fff;
        transition: background-color 0.3s ease;
    }
    [data-theme="light"] .demo-button:hover, 
    [data-theme="light"] .start-button--color:hover{
        background-color: #4D58FF;
        transition: background-color 0.3s ease;
    }
    [data-theme="light"] .demo-button--color:hover{
        background-color: #1D1C20;
        color: #fff;
        transition: background-color 0.3s ease;
    }
    .demo-button:hover, .talk-button:hover, .blog__button:hover, .start-button:hover {
        text-shadow: 0 0 15px #fff, 0 0 40px #fff;
    }
    [data-theme="light"] .demo-button:hover, [data-theme="light"] .talk-button:hover, [data-theme="light"] .blog__button:hover, [data-theme="light"] .start-button:hover {
        text-shadow: none;
    }

    .demo-button:hover::before, .talk-button:hover::before, .blog__button:hover::before, .start-button:hover::before {
        opacity: 1;
    }

    .icons-footer__item a:hover svg path {
        fill: var(--hover-color);
    }
    .sub-menu__link:hover {
        color: var(--hover-color);
    }
    
    .menu__item:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .menu__item:hover .menu__link--icon::after {
        transform: rotate(225deg);
    }
    .menu__link--icon:hover::after {
        color: var(--hover-color);
    }
    .menu__item:hover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px; 
        background: transparent;
    }
    .prev-btn:hover svg path, .next-btn:hover svg path {
        stroke: var(--btn-hover-stroke); 
    }
    .prev-btn:hover, .next-btn:hover {
        background-color: var(--btn-stroke);
        border: none;
    }
}
@media (max-width:990px){
    .header__buttons > .demo-button,
    .header__buttons > .talk-button {
        display: none; 
    }

    .menu .demo-button,
    .menu .talk-button {
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 600;
        flex: none;
    }
    .icon-menu {
		flex-shrink: 0;
		flex-basis: 24px;
		display: flex;
		flex-direction: column;
        z-index: 5;
	}
    .icon-menu span {
		margin-block: .375rem;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: .125rem;
		width: 100%;
		background-color: var(--main-text-color);
	}
    .open-menu .nav,
	.open-menu .nav::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(.0938rem);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-0.0938rem);
	}
    .open-menu {
        overflow: hidden;
    }
    .nav {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;

		transition: inset-inline-start 0.3s;

        overflow-y: auto;

		padding: 6.25rem .9375rem 1.875rem;

		background-color: var(--bg-color)
	}

	.nav::before {
		content: "";
		position: fixed;
		block-size: 5rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: var(--bg-color);
		transition: inset-inline-start 0.3s;
	}
    .menu {
		flex-direction: column;
		border: none;
		align-items: center;
		background-color: transparent;
		row-gap: 1.5625rem;
        padding-block: 60px;
	}
    .menu__link {
        font-size: 18px;
        padding: 0;
    }
}

@media (max-width: 800px) {
    .footer {
        padding-block: 60px 40px;
    }
    .logo--footer {
        flex-basis: 20px;
    }
    .footer__block {
        flex-direction: column;
        gap: 24px;
        padding-block-end: 40px;
    }

    .footer__item {
        position: relative;
        flex-basis: 20px;
    }

    .footer__sub {
        inline-size: 100%;
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    .footer__item h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        cursor: pointer;
        min-width: 185px;
        
    }

    .footer__item h4::after {
        content: "";
        width: .5625rem;
        height: .5625rem;
        display: inline-block;
        border: solid currentColor;
        border-width: 0 .125rem .125rem 0;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out;
    }

    .footer__item.active .footer__sub {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .footer__item.active h4::after {
        transform: rotate(-135deg);
    }
}

.testimonials__cards .swiper-slide {
    display: flex;
}

.testimonials .swiper {
    overflow: visible;
}