@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");

@import "_mixins.scss";

@import "_fonts.scss";

@import "_reset.scss";


:root {
    --bg-color: #0F0F0F;
    --main-text-color: #fff;
    --secondary-text-color: #9B9CA1;
    --demo-button-bg: #4D58FF;
    --talk-button-bg: #404040;
    --button-border: none;
    --header-bg: #0F0F0F;
    --icon-filter: invert(0);
    --hero-button-bg: #161616;
    --hero-img-bg: linear-gradient(0deg, #0F0F0F 0%, rgba(8, 8, 8, 0.52) 27.01%, rgba(0, 0, 0, 0.00) 100%);
    --hero-img-box-shadow: none;
    --cards-bg:#161616;
    --cards-border: .0625rem solid #292929;
    --cards-title: #F6F6F7;
    --card-text: #9B9CA1;
    --nav-bg: rgba(255, 255, 255, 0.05);
    --nav-border: 1px solid #FFF;
    --nav-hover-bg: #fff;
    --nav-color-text: #1D1C20;
    --logos-gradient: linear-gradient(90deg, #0F0F0F 2.16%, rgba(15, 15, 15, 0.00) 12.18%, rgba(15, 15, 15, 0.00) 91.5%, #0F0F0F 100%);
    --hover-color: #4D58FF;
    --footer-nav: #FBFBFB;
    --footer-bg: transparent;
    --footer-text: #9B9CA1;
    --footer-border-color: #161616;
    --accordion-title: #D7D7D7;
    --arrow-card: url(../img/icons/arrow-right-white.svg) 0 0 / 100% no-repeat;
    --btn-bg: #222629;
    --btn-stroke: #fff;
    --btn-hover-stroke: #000;
    --testim-comma: url("../img/inverted-comma.png") 0 0 / 100% no-repeat;
}

[data-theme="light"] {
    --bg-color: #F6F6F6;
    --main-text-color: #0F0F0F;
    --secondary-text-color: #333;
    --demo-button-bg: #1D1C20;
    --talk-button-bg: #fff;
    --button-border: 1px solid #1D1C20;
    --header-bg: #fff;
    --icon-filter: invert(1);
    --hero-button-bg: transparent;
    --hero-img-bg: none;
    --hero-img-box-shadow: 1.594px 7.969px 64.547px -6.375px rgba(0, 0, 0, 0.14);
    --cards-bg:#fff;
    --cards-border: .0625rem solid #BDBDBD;
    --cards-title: #1D1C20;
    --card-text:#828282;
    --nav-bg: rgba(29, 28, 32, 0.05);
    --nav-border: 1px solid #1D1C20;
    --nav-hover-bg: #1D1C20;
    --nav-color-text: #fff;
    --logos-gradient: linear-gradient(90deg, #F6F6F6 5.67%, rgba(246, 246, 246, 0.00) 10.47%, rgba(246, 246, 246, 0.00) 85.36%, #F6F6F6 94.57%);
    --footer-nav: #4F4F4F;
    --footer-bg: #E0E0E0;
    --footer-text: #4F4F4F;
    --footer-border-color: #BDBDBD;
    --accordion-title: #1D1C20;
    --arrow-card: url(../img/icons/arrow-right-dark.svg) 0 0 / 100% no-repeat;
    --btn-bg: #FFF;
    --btn-stroke: #000;
    --btn-hover-stroke: #fff;
    --testim-comma: url("../img/inverted-comma-light.png") 0 0 / 100% no-repeat;
}


body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

[class*="__container"] {
    max-width: 78.375rem;
    margin: 0 auto;
    padding-inline: .9375rem;
}

.header.scrolled {
    background-color: var(--header-bg);
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-block: 2rem;
    max-height: 7.1875rem;
    border-bottom: 1px rgba(217, 217, 217, 0.16) solid;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .9375rem;
    }
} 

.logo {
    max-width: 7.5625rem;
}

.menu {
    display: flex;
    gap: 2.5rem;
    font-size: 18px;
    line-height: 1.5; 
    letter-spacing: -0.0225rem;

    &__item {
        position: relative;
        display: inline-block;
        transition: color 0.3s ease;
    }
}

.sub-menu {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
    inline-size: 9.375rem;
    padding: .9375rem;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__item:not(:last-child) {
        margin-block-end: .625rem;
    }
}
.menu__link--icon {
    display: inline-flex;
    align-items: center;
    gap: .375rem;
}
.menu__link--icon::after {
    content: "";
        color: var(--accordion-title);
        width: 9px;
        height: 9px;
        display: inline-block;
        border: solid currentColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: transform 0.4s ease-in-out;
}


.header__buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02rem;
    flex: 0 1 6.875rem;
    z-index: 10;
}

.demo-button {
    border-radius: 3.75rem;
    background-color: var(--demo-button-bg);
    padding: .8125rem 1.5rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.talk-button {
    position: relative;
    border-radius: 3.75rem;
    background-color: var(--talk-button-bg);
    padding: .8125rem 1.5rem;
    border: var(--button-border);
    overflow: hidden;
    transition: 0.5s;

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 12.5rem;
        height: 12.5rem;
        background: radial-gradient(#fff, transparent, transparent);
        transition: 0.5s, top 0s, left 0s;
        opacity: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: .125rem;
        background-color: var(--talk-button-bg);
        border-radius: 3rem;
    }
}
.hero{
    position: relative;
    z-index: 3;
    &::before{
        content: "";
        position: absolute;
        background: url("../img/main-bg-img.png") 0 0 / 100% no-repeat;

        @include adaptiveValue("width", 1050.76, 426);
        @include adaptiveValue("height", 1053.181, 426.981);

        top: -28%;
        left: -17%;
        z-index: 2;

        @media (max-width: 400px) {
            left: -44%;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("padding-block-start", 120, 34);
        @include adaptiveValue("padding-block-end", 200, 100);


        > .block-buttons{
            @media (max-width: 400px) {
                flex-direction: column;
                gap: 1rem
            }
        }
    }
    &__button {
        display: inline-flex;
        gap: .5rem;
        align-items: center;
        font-family: "DM Sans", sans-serif;
        border-radius: 2rem;
        border: 1px solid #1412C5;
        background-color: var(--hero-button-bg);
        padding: .25rem .5rem .25rem .25rem;
        margin-block-end: .75rem;
    
        color: #4D58FF;
        @include adaptiveValue("font-size", 14, 12);
        font-weight: 500;
        line-height: 1.2; /* 120% */

        &::after {
            content: "";
            inline-size: 1rem;
            block-size: 1rem;
            background: url("../img/icons/arrow-right.svg") 0 0 / 100% no-repeat;
        }

        span{
            color: #FFF;
            border-radius: 64px;
            background-color: #4D58FF;
            padding: .25rem .5rem;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-block-end: 2.5rem;

        @media (max-width: 744px) {
            gap: 1.5rem;
            margin-block-end: 2rem;
        }

        h1{
            text-align: center;
            font-weight: 600;
            line-height: 1.2; /* 86.4px */
            letter-spacing: -0.135rem;
            max-width: 62.25rem;
            @include adaptiveValue("font-size", 72, 32);


            @media (max-width: 744px) {
                letter-spacing: -2.16px;
            }
        }
        
        p{
            color: var(--secondary-text-color);
            text-align: center;
            @include adaptiveValue("font-size", 20, 14);
            line-height: 1.5; /* 27px */
            letter-spacing: -0.0225rem;
            max-width: 37.5rem;
            margin: 0 auto;
        }
    }

    &__img  {
        aspect-ratio: 1224 / 596;
        object-fit: cover;
        position: relative;

        img {
            width: 100%;
            box-shadow: var(--hero-img-box-shadow) ;
            border-radius: .9961rem;
        }

        &::after {
            content: "";
            display: block;
            position: absolute; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            aspect-ratio: 1224 / 596;
            background: var(--hero-img-bg);
        }
    }
}

.block-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 404px; 
    @include adaptiveValue("margin-block-end", 100, 60);
    z-index: 3;
    flex-wrap: nowrap;
    flex: 1; 


    &--width {
        flex: 0 1 17rem;
        margin-bottom: 0;
        flex-wrap: wrap;


        > .demo-button, .talk-button {
            flex: 1 1 190px; 
        }
    }
}

.demo-button, .talk-button {
    // flex: 1 1 190px; 
    min-width: 125px; 
    max-width: 100%; 
    text-align: center; 
    cursor: pointer;

    @media (max-width: 400px) {
        width: 100%;
    }
}

.benefits, .product, .buttons-section, .partners, .testimonials, .blog, .answers {
    @include adaptiveValue("margin-block-end", 200, 100);
}
.benefits__title {
    @include adaptiveValue("margin-block-end", 60, 40);
}
.category {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border-radius: 32px;
    border: 1px solid #1412C5;
    background: var(--hero-button-bg);
    padding: .5rem .75rem;
    color: #4D58FF;
    font-family: "DM Sans", sans-serif;
    @include adaptiveValue("font-size", 14, 12);
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-block-end: .75rem;
    @include adaptiveValue("margin-block-end", 12, 8);

    &::before {
        content: "";
        flex-shrink: 0;
        inline-size: 1rem;
        block-size: 1rem;
        background: url("../img/icons/info-circle.svg") 0 0 / 100% no-repeat;
    }

    &--img::before {
        content: "";
        flex-shrink: 0;
        inline-size: 1rem;
        block-size: 1rem;
        background: url("../img/icons/blog-icon.svg") 0 0 / 100% no-repeat;
    }
}

.title-block {
    display: flex;
    column-gap: max(1.25rem, min(10vw, 8rem));


    @media (max-width: 745px) {
        flex-direction: column;
        gap: 1.5rem;
    }

    h2 {
        flex: 1 1 49.019608%; /* 600/1224 */
        font-weight: 600;
        line-height: 1.2; /* 45.6px */
        letter-spacing: -0.0712rem;
        @include adaptiveValue("font-size", 38, 32);

        @media (max-width: 745px) {
            letter-spacing: -0.06rem;
        }
    }

    p {
        flex: 1 1 40.522876%; /* 496/1224 */
        color: var(--secondary-text-color);
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.5; /* 30px */
        letter-spacing: -0.025rem;
    }

    &--column {
        flex-direction: column;
        width: 100%;
        @media (max-width: 984px) {
            gap: 1.5rem;
        }
    }

    &--center {
        text-align: center;
        flex-direction: column;
        @include adaptiveValue("margin-block-end", 60, 40);
    }
} 

.cards-benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media (max-width: 745px) {
        grid-template-columns: repeat(2, 1fr);
        gap: .9375rem;
    }
    @media (max-width: 533px) {
        grid-template-columns: repeat(1, 1fr);
        gap: .75rem;
    }

    &__item {
        border-radius: .75rem;
        border: var(--cards-border);
        background-color: var(--cards-bg);
        padding: 1.875rem;
        position: relative;
        transition: transform 0.3s ease-out;
        overflow: hidden;
    }
    &__icon {
        margin-block-end: 1.875rem;

        img{
            inline-size: 5rem;
            block-size: 5rem;
            object-fit: contain;

            @media (max-width: 745px) {
                inline-size: 3.75rem;
                block-size: 3.75rem;
            }
        }
    }

    &__text {
        h3{
            color: var(--cards-title);
            font-weight: 600;
            line-height: 1.5; /* 30px */
            letter-spacing: -0.025rem;
            margin-block-end: .75rem;
            @include adaptiveValue("font-size", 20, 16);
        }

        p{
            color: var(--card-text);
            line-height: 1.5; /* 24px */
            letter-spacing: -0.02rem;
            @include adaptiveValue("font-size", 16, 14);
        }
    }
}


.product__container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}
.nav-product {
    display: flex;
    justify-content: center;

    &__list {
        padding: .375rem;
        display: inline-flex;
        gap: .3125rem;
        border-radius: 48px;
        border: var(--nav-border);
        background: var(--nav-bg);
        backdrop-filter: blur(32.650001525878906px);
    }

    &__item {
        padding: .75rem 1.375rem;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5; /* 24px */
        letter-spacing: -0.02rem;
    }
}

.nav-product__item.active {
    border-radius: 40px;
    background: var(--nav-hover-bg);
    color: var(--nav-color-text);
}
.nav-product__item:hover {
    border-radius: 40px;
    background: var(--nav-hover-bg);
    color: var(--nav-color-text);
}
.cards-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media (max-width: 745px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 533px) {
        grid-template-columns: repeat(1, 1fr);
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        overflow: hidden;

        @media (max-width: 533px) {
            max-width: 21.375rem;
            margin: 0 auto;
        }
        
    }

    &__img {
        aspect-ratio: 392 / 384;
        overflow: hidden;
        border-radius: 1rem;
        position: relative;
        transition: transform 0.3s ease-out;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        h3 {
            font-weight: 600;
            line-height: 1.5; /* 36px */
            letter-spacing: -0.045rem;
            margin-block-end: .75rem;
            @include adaptiveValue("font-size", 24, 18);
        }

        p {
            color: var(--card-text);
            line-height: 1.5; /* 24px */
            letter-spacing: -0.02rem;
            @include adaptiveValue("font-size", 16, 14);
        }
    }
}

.buttons-section{

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.5rem;
        border-radius: 1.5rem;
        background: var(--cards-bg);
        @include adaptiveValue("padding-block", 100, 60);
        @include adaptiveValue("padding-inline", 120, 40);
        align-items: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            background: url("../img/second-bg-img.png") 0 0 / 100% no-repeat;
        
            width: 34.4433rem;
            height: 47.9777rem;
            transform: rotate(-29.715deg);
        
            top: -54%;
            left: 0%;
        }

        h2{
            @include adaptiveValue("font-size", 38, 32);
            font-weight: 600;
            line-height: 1.2; /* 45.6px */
            letter-spacing: -0.0712rem;
            // flex: 1 1 59.349593%; /* 584/984 */
        }

        @media (max-width: 761px) {
            justify-content: center;
            > .block-buttons {
                gap: 1rem;
            }
            
        }

        
    }
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.125); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.05s linear;
    filter: blur(60px); 
}
.partners{
    
    &__block {
        display: flex;
        column-gap: max(1.25rem, min(10vw, 8rem));
        margin-block-end: 8rem;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > .title-block h2 {
            max-width: 37.6875rem
        }
    }
    &__title {
        flex: 1 1 11.5rem;
    }

    &__text {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 15px;

        @media (max-width: 984px) {
            flex-direction: column;
        }

        > p {
            max-width: 31rem;

            @media (max-width: 984px) {
                align-self: flex-start;
            }
            
        }
    }
}

.cards-partners {
    display: flex;
    align-items: flex-end;
    flex: 0 1 37.5rem;
    gap: 1.5rem;

    @media (max-width: 984px) {
        flex: none;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 11.5rem;

        span {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 1.5; /* 108px */
            letter-spacing: -0.135rem;
        }

        p {
            color: #9B9CA1;
            text-align: center;
            font-family: Poppins;
            line-height: 1.5; /* 150% */
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.logos {
    max-width: 86.25rem;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 2;
        left: 0;
        background: var(--logos-gradient);
    }
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;

    img {
        width: 180px;
        margin: 0 30px;
    }
}


.testimonials {
    &__cards {
        margin-block-end: 3.75rem;
    }
    &__title {
        text-align: center;
        margin-block-end: 6.25rem;
    }
    &__buttons {
        display: flex;
        gap: .875rem;
        justify-content: center;
    }
}
.cards-testimonials {
    display: flex;
    gap: 1.5rem;
    transition: transform 0.5s ease-in-out;
    width: 100%;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: max(1.25rem, min(10vw, 4rem));
        border-radius: 1.25rem;
        background: var(--cards-bg);
        flex: 0 0 37.5rem;
        padding: 2.5625rem 2.1875rem;

        blockquote{
            color: var(--cards-title);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.5; /* 36px */
            letter-spacing: -0.03rem;
            max-width: 28.8125rem;
        }
    }
    &__author {
        color: var(--card-text);
        display: flex;
        flex-direction: column;
        gap: .6875rem;
        font-size: 1.25rem;
        line-height: 1.5; /* 30px */
        letter-spacing: -0.025rem;

        img{
            inline-size: 5.3125rem;
            block-size: .9375rem;
        }
    }

    &__block {
        display: flex;
        gap: .625rem;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            flex-shrink: 0;
            inline-size: 3.8125rem;
            block-size: 3rem;
            position: absolute;
            right: 0;
            background: var(--testim-comma);
        }
    }

    &__img {
        aspect-ratio: 54.5 / 60;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.prev-btn, .next-btn {
    border-radius: 100px;
    background-color: var(--btn-bg);
    padding: 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    stroke: var(--btn-stroke)
}
.prev-btn svg path,  .next-btn svg path {
    transition: stroke 0.3s ease;
}
.blog{
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .9375rem;
        margin-block-end: 3.75rem;
    }
    &__button {
        border-radius: 3.75rem;
        border: var(--button-border);
        background: var(--talk-button-bg);
        padding: .8125rem 1.5rem;
    
        font-weight: 600;
        line-height: 1.5; /* 24px */
        letter-spacing: -0.02rem;
    }
}
@mixin common-paragraph-styles {
    color: var(--card-text);
    font-size: .875rem;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.0175rem;
}
.cards-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;

    @media (max-width: 983px) {
        grid-template-columns: repeat(2, 1fr);

        &.odd .cards-blog__item:last-child {
            grid-column: span 2;
            justify-self: center;
        }
    }
    @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);

        &.odd .cards-blog__item:last-child {
            grid-column: auto;
            justify-self: auto; 
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        border-radius: .625rem;
        border: var(--cards-border);
        background: var(--cards-bg);
        padding: 1.5625rem;
        max-width: 24.5rem;
    }

    &__img {
        aspect-ratio: 342 / 230;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        transition: transform 0.3s ease-out;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        padding-block: 1.1875rem;
        border-bottom: .0625rem solid rgba(217, 217, 217, 0.15);
        flex-grow: 1;

        h3 {
            @include adaptiveValue("font-size", 24, 18);
            font-weight: 600;
            line-height: 1.5; /* 36px */
            letter-spacing: -0.045rem;
            margin-block-end: .9375rem;
        }

        p {
            @include common-paragraph-styles;
        }
    }

    &__block {
        padding-top: 1.1875rem;
        display: flex;
        justify-content: space-between;
        gap: .625rem;
        align-items: center;

        p {
            @include common-paragraph-styles;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
        font-weight: 600;
        line-height: 1.5; /* 24px */
        letter-spacing: -0.02rem;

        &::after {
            content: "";
            flex-shrink: 0;
            inline-size: 1.5rem;
            block-size: 1.5rem;
            background: var(--arrow-card);
        }
    }
}
.footer {
    background-color: var(--footer-bg);
    border-top: 1px solid rgba(217, 217, 217, 0.15);
    padding-block: 5rem 2.5rem;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-block-end: 3.75rem;
        border-bottom: 1px solid var(--footer-border-color);
    }
    &__item,  &__sub {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-basis: 11.6875rem;

        h4 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5; /* 30px */
            letter-spacing: -0.4px;
        }

        a {
            color:  var(--footer-nav);
            line-height: 1.5; /* 24px */
            letter-spacing: -0.02rem;
        }
    }

    &__link {
        transition: color 0.3s ease;
    }
}
.logo--footer {
    flex-basis: 17.9375rem;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50rem;
    margin: 0 auto;

    &__item {
        border-radius: 1rem;
        border:  var(--cards-border);
        padding: 1.5rem;
    }
    &__header {
        display: inline-flex;
        gap: 10px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    
        color:  var(--accordion-title);
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 600;
        line-height: 1.5; /* 30px */
        letter-spacing: -0.025rem;

        &::after {
            content: "";
            width: 9px;
            height: 9px;
            display: inline-block;
            border: solid currentColor;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: transform 0.4s ease-in-out;
        }

        &.active::after {
            transform: rotate(-135deg); 
        }
    }

    &__content {
        color: var(--card-text);
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin-top 0.4s ease-in-out;
        margin-top: 0; 
        line-height: 1.5;
        @include adaptiveValue("font-size", 16, 14);

        &.active {
            max-height: 31.25rem; 
            opacity: 1;
            margin-top: .625rem; 
        }
    }
}
.footer__icons {
    padding-block-start: 2rem;
    max-width: 17.875rem;
    margin: 0 auto;
}
.icons-footer {

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .3125rem;
        padding-block-end: 1rem;

        @media (max-width: 800px) {
            justify-content: space-evenly;
        }
    }
    &__item {
        inline-size: 1.5rem;
        block-size: 1.5rem;
        object-fit: contain;
        a svg path {
            transition: fill 0.3s ease; 
        }
    }
    &__text {
        color: var(--footer-text);
        text-align: center;
        line-height: 1.5; /* 24px */
        letter-spacing: -0.02rem;
        @include adaptiveValue("font-size", 16, 12);
    }
}
@media (any-hover:hover) {
    .menu__item:hover .menu__link, .footer__link:hover, .menu__link--icon:hover::after {
        color: var(--hover-color);
    }
    .talk-button:hover {
        color: #fff;
        text-shadow: 0 0 .9375rem #fff, 0 0 2.5rem #fff;
    }

    .talk-button:hover::before {
        opacity: 1;
    }

    .icons-footer__item a:hover svg path {
        fill: var(--hover-color);
    }
    .sub-menu__link:hover {
        text-decoration: underline;
    }
    
    .menu__item:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .prev-btn:hover svg path, .next-btn:hover svg path {
        stroke: var(--btn-hover-stroke); 
    }
    .prev-btn:hover, .next-btn:hover {
        background-color: var(--btn-stroke);
        border: none;
    }
}
@media (max-width:990px){
    .header__buttons > .demo-button,
    .header__buttons > .talk-button {
        display: none; 
    }

    .menu .demo-button,
    .menu .talk-button {
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        flex: none;
    }
    .icon-menu {
		flex-shrink: 0;
		flex-basis: 1.5rem;
		display: flex;
		flex-direction: column;
        z-index: 5;
	}
    .icon-menu span {
		margin-block: 6px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
	}
    .open-menu .nav,
	.open-menu .nav::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
    .open-menu {
        overflow: hidden;
    }
    .nav {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;

		transition: inset-inline-start 0.3s;

        overflow-y: auto;

		padding: 100px 15px 30px;

		background-color: var(--bg-color)
	}

	.nav::before {
		content: "";
		position: fixed;
		block-size: 80px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: var(--bg-color);
		transition: inset-inline-start 0.3s;
	}
    .menu {
		flex-direction: column;
		border: none;
		align-items: center;
		background-color: transparent;
		row-gap: 25px;
        padding-block: 3.75rem;
	}
    .menu__link {
        font-size: 1.5rem;
        padding: 0;
    }
}

@media (max-width: 800px) {
    .footer {
        padding-block: 3.75rem 2.5rem;
    }
    .logo--footer {
        flex-basis: 1.25rem;
    }
    .footer__block {
        flex-direction: column;
        gap: 1.5rem;
        padding-block-end: 2.5rem;
    }

    .footer__item {
        position: relative;
        flex-basis: 1.25rem;
    }

    .footer__sub {
        inline-size: 100%;
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    .footer__item h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .375rem;
        cursor: pointer;
        min-width: 11.5625rem;
        
    }

    .footer__item h4::after {
        content: "";
        width: 9px;
        height: 9px;
        display: inline-block;
        border: solid currentColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out;
    }

    .footer__item.active .footer__sub {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .footer__item.active h4::after {
        transform: rotate(-135deg);
    }
}
